/* page.module.css */

.ContenedorGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  color: #d9d3c1;
  width: 100%;
  height: 100vh;
  gap: 2rem;
}

.ContenedorGeneral2 {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ContenedorGeneral3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ContenedorFiltros {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: #d9d3c1;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.BtnFilter {
  background-color: #111111;
  color: #d9d3c1;
  padding: 0.7rem;
  width: 70%;
  border-radius: 0.8rem;
  font-size: 1rem;
}

.BtnFilter:hover {
  background-color: #464646;
}
.Titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.saldo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.movementsTable {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border-collapse: collapse;
}

.movementsTable th,
.movementsTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.movementsTable th {
  background-color: #111111;
  color: #fff; /* Cambiado a blanco para mejorar la visibilidad del texto */
}

.movementsTable tbody tr:nth-child(even) {
  background-color: #111111;
}

.movementsTable tbody tr:hover {
  background-color: #464646;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #00b336; /* Cambiado a un verde más intenso */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: pointer;
  color: #464646;
}
