.ContenedorGeneralForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.Label {
  display: flex;
  flex-direction: column;
}

.Input {
  width: 20rem;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
}

.Input:focus {
  box-shadow: 0 0 20px #262626dd;
}

.btn,
.BtnVolver {
  background-color: #111111;
  color: #d9d3c1;
  padding: 0.7rem;
  width: 50%;
  border-radius: 0.8rem;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn:hover,
.BtnVolver:hover {
  cursor: pointer;
}
